@import "variables";
// Include the default theme styles.
.default-theme {
  @include angular-material-theme($candy-app-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-field-group {
  margin-bottom: 20px;
  width: 70%;
  mat-form-field {
    width: 100% !important;
  }
}
