$mobile-small: '(max-width: 320px)';
$mobile: '(min-width: 320px) and (max-width: 600px)';
$tablet: '(min-width: 600px) and (max-width: 1024px)';
$computer-small: '(min-width: 1024px) and (max-width: 1440px)';
$computer-medium: '(min-width: 1440px) and (max-width: 1920px)';
