.chat-input {
  height: 64px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  textarea {
    border-radius: 15px;
    outline: none;
    padding: 8px;
    height: calc(64px - 10px);
    max-height: calc(64px - 10px);
    width: 90%;
    resize: none;
  }
}
