<app-toolbar
  *ngIf="(user$ | async)"
  (openProfileModal)="openProfileModal()"
  (openAddFriend)="openAddFriend()"
  [me]="user$ | async"
></app-toolbar>
<app-logged-out-toolbar *ngIf="!(user$ | async)" pageName="About"></app-logged-out-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    *ngIf="(user$ | async)"
    [mode]="onMobile ? 'over' : 'side'"
    [opened]="sidenavState$ | async"
    ><app-contact-list
      (removeFriend)="removeFriend($event)"
      [friends]="friends$ | async"
    ></app-contact-list
  ></mat-sidenav>
  <mat-sidenav-content><ng-content></ng-content></mat-sidenav-content>
</mat-sidenav-container>
<ng-template #addFriendModal>
  <app-add-friend
    [foundUsers]="foundUsers$ | async"
    (searchUsers)="searchUsers($event)"
    (addFriend)="addFriend($event)"
    (removeFriend)="removeFriend($event)"
  ></app-add-friend>
</ng-template>
