@import "../../../variables";
.contacts {
  width: 100%;
  .contact {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    .friend-info {
      width: 100%;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    @media #{$mobile} {
      padding: 5px;
    }
    img {
      height: 40px;
      width: 40px;
      min-width: 40px;
      min-height: 40px;
      border-radius: 50%;
    }
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .online-status {
      height: 8px;
      width: 8px;
      min-width: 8px;
      min-height: 8px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}
