<app-logged-out-toolbar pageName="Sign Up"></app-logged-out-toolbar>
<div class="page-wrapper">
  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <div class="login-form mat-elevation-z4">
      <h1>Sign Up</h1>
      <mat-form-field>
        <input formControlName="username" matInput placeholder="Username" name="username" />
        <mat-error *ngIf="username.errors?.exists">Username already taken</mat-error>
        <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email" name="email" type="email" />
        <mat-error *ngIf="email.errors?.exists">Email already taken</mat-error>
        <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
      </mat-form-field>
      <div formGroupName="pwGroup" class="form-field-group">
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            type="password"
            name="password"
            formControlName="password"
          />
          <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Repeat Password"
            type="password"
            name="password"
            formControlName="repeatPassword"
          />
          <mat-error *ngIf="repeatPassword.errors?.required">Please repeat the password</mat-error>
        </mat-form-field>
        <mat-error *ngIf="pwGroup.errors?.noMatch">Passwords must match</mat-error
        ><mat-error *ngIf="(loginError$ | async)">{{ loginError$ | async }}</mat-error>
      </div>
      <button [disabled]="!registerForm.valid" type="submit" mat-raised-button>
        Sign up
      </button>
      <a routerLink="/auth/login">Already have an account?</a>
    </div>
  </form>
</div>
