<app-logged-out-toolbar pageName="Sign Up"></app-logged-out-toolbar>
<div class="page-wrapper">
  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <div class="login-form mat-elevation-z4">
      <h1>Sign Up</h1>
      <mat-form-field>
        <input
          formControlName="username"
          matInput
          placeholder="Username"
          name="username"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="email"
          matInput
          placeholder="Email"
          name="email"
          type="email"
        />
      </mat-form-field>
      <div formGroupName="pwGroup">
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            type="password"
            name="password"
            formControlName="password"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Repeat Password"
            type="password"
            name="password"
            formControlName="repeatPassword"
          />
        </mat-form-field>
      </div>
      <button [disabled]="!registerForm.valid" type="submit" mat-raised-button>
        Sign up
      </button>
      <a routerLink="/auth/login">Already have an account?</a>
    </div>
  </form>
</div>
