<mat-toolbar color="primary" *ngIf="me">
  <div fxLayoutGap="15px" fxLayoutAlign="center center" class="start">
    <button (click)="toggleSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Chat</span>
  </div>
  <div fxLayoutGap="15px" fxLayoutAlign="center center" class="end">
    <button mat-icon-button [matMenuTriggerFor]="addMenu">
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="accountMenu"
      [ngStyle]="{ background: 'url(' + (me.image | missingImage) + ')' }"
      class="account-btn"
    ></button>
  </div>
</mat-toolbar>
<mat-menu #addMenu="matMenu">
  <button mat-menu-item><mat-icon>person_add</mat-icon>Add friend</button>
  <button mat-menu-item><mat-icon>add_comment</mat-icon>New Chat</button>
  <button mat-menu-item><mat-icon>group</mat-icon>New Group</button>
  <button mat-menu-item>New Anonymous Chat</button>
</mat-menu>
<mat-menu #accountMenu="matMenu">
  <button (click)="openProfileModal.next()" mat-menu-item>Profile</button>
  <button
    *ngIf="me"
    (click)="toggleUserVisibility()"
    fxLayoutAlign="center center"
    fxLayout="row"
    mat-menu-item
  >
    {{ me.isOnline ? "Set offline" : "Set online" }}
    <div
      class="online-status"
      [ngStyle]="{ background: me.isOnline ? 'green' : 'transparent' }"
    ></div>
  </button>
  <button mat-menu-item>Settings</button>
  <button (click)="logout()" mat-menu-item>Logout</button>
  <button mat-menu-item>About</button>
</mat-menu>
