.start {
  margin-left: 0;
  margin-right: auto;
}

.end {
  margin-left: auto;
  margin-right: 0;
}

button {
  &:hover {
    opacity: 0.8;
  }
}
.online-status {
  height: 8px;
  width: 8px;
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}
