.friend-item {
  padding: 12px;
  padding-right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 100%;
  }
  img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    margin-right: 12px;
  }
  p {
    margin: 0;
    padding: 0;
    margin-right: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  button {
    margin-left: auto;
    margin-right: 0;
  }
  .online-status {
    height: 8px;
    width: 8px;
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
