<div class="friend-item">
  <div class="info" (click)="friendSelected.next(friend)">
    <img [src]="friend.image | missingImage" />
    <p>{{ friend.username }}</p>
    <div
      fxFlex="2"
      class="online-status"
      [ngStyle]="{ background: friend.isOnline ? 'green' : 'transparent' }"
    ></div>
  </div>
  <button [matMenuTriggerFor]="friendMore" mat-icon-button><mat-icon>more_vert</mat-icon></button>
</div>
<mat-menu #friendMore="matMenu">
  <button mat-menu-item *ngIf="friend.isFriend">
    <mat-icon>person_add_disabled </mat-icon>Remove from contacts
  </button>
  <button mat-menu-item><mat-icon>perm_identity</mat-icon>Show profile</button>
</mat-menu>
